* {
  padding: 0;
  margin: 0 auto;
}

body p {
  color: var(--gray4);
}

body h1 {
  font-size: var(--title1-size);
}

body h2,
h3 {
  color: white;
}

body h2 {
  font-size: var(--title2-size);
}

body h3 {
  font-size: var(--title3-size);
}

body button {
  padding: 20px 40px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--gray1);
  border-bottom: 3px solid var(--brand2);
}

header button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  background-color: var(--gray2);
  text-align: center;
  min-height: 950px;
}

.banner h1 {
  color: white;
}

.banner p {
  margin-top: 20px;
}

.banner button {
  margin-top: 20px;
  background-color: var(--brand1);
  color: white;
  border: none;
}

.banner button:hover {
  background-color: var(--brand2);
}

/* About */
.about {
  background-color: var(--gray1);
  min-height: 300px;
  display: flex;
}

.about .dois-lados {
  display: flex;
  width: 100%;
}

.lado-esquerdo,
.lado-direito {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lado-esquerdo h2,
.lado-direito p {
  text-align: center;
  margin: 0;
}

.lado-direito p {
  width: 50%;
}

/* FAQ */
.section-faq {
  background-color: var(--gray2);
  display: flex;
  padding: 20px;
  min-height: 1080px;
}

.FAQ {
  background-color: var(--gray2);
}

.FAQ .left-side,
.right-side {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 100px;
  flex-direction: column;
  list-style: none;
}

.FAQ .interno {
  position: sticky;
  top: 80px;
  z-index: 2px;
}

.FAQ .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 100px;
}

.FAQ p {
  margin-top: 20px;
}

.interno {
  margin-top: 50px;
}

.interno button {
  margin-top: 20px;
  background-color: var(--brand1);
  color: white;
  border: none;
}

/* Comments */
.section-coments {
  display: flex;
  flex-direction: row-reverse;
  min-height: 1080px;
}

.section-coments .right-sidee,
.left-sidee {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comments {
  background-color: var(--gray2);
}

.section-coments .box {
  position: sticky;
  top: 80px;
  z-index: 2px;
  background-color: var(--brand2);
  flex-direction: column;
  padding: 110px 0px;
}

.section-coments .left-sidee {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-coments li {
  display: flex;
  width: 100%;
}

.section-coments .esquerdo {
  text-align: center;
}

.esquerdo h3 {
  margin-bottom: 20px;
}

.section-coments .a {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 125px;
}

/* Footer */
footer {
  background-color: var(--gray1);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagens */
img {
  width: 80px;
  max-width: 100%;
  height: auto;
}

/* Botões */
button {
  max-width: 100%;
}

/* Modal */
#meuModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray2);
  border: 2px solid var(--brand2);
  padding: 20px;
  max-width: 500px;
  width: 90vw;
  box-sizing: border-box;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.formulario-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-modal {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.modal-content button {
  background-color: var(--brand1);
  color: white;
  border: none;
  cursor: pointer;
  width: 90%;
  height: 50px;
  margin-top: 20px;
}

.modal-content input {
  background-color: var(--gray1);
  padding-left: 10px;
  border: none;
  width: 90%;
  height: 50px;
  margin-top: 20px;
  color: white;

}

.formulario-modal {
  width: 100%;

}
.modal-content p {
  text-align: start;
}

.modal-content h2 {
  margin-left: 25px;
}

.modal-content span {
  margin-right: 25px;
  background-color: var(--gray4);
  padding: 5px 10px;
}

/* Responsividade */

/* até 1024px */
@media (max-width: 1024px) {
  .banner,
  .about,
  .FAQ,
  .comments {
    padding: 40px 10px;
  }

  .modal-content {
    max-width: 50vw;
    padding: 20px 10px;
  }




}

/* até 768px */
@media (max-width: 768px) {
  .about .dois-lados,
  .section-faq,
  .section-coments {
    flex-direction: column;
    gap: 32px;
  }

  .section-faq,
  .section-coments {
    flex-direction: column;
    gap: 100px;
  }

  .modal-content {
    max-width: 65vw;
    padding: 15px 5px;
  }


}

/* até 425px */
@media (max-width: 425px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .modal-content {
    max-width: 100vw;
    min-width: 0;
    padding: 10px 2px;
  }



  h1,
  h2,
  h3 {
    font-size: 1.1em;
  }

  .right-side {
    max-width: 100vw;
    text-align: center;
  }

  header button {
    display: none;
  }
}

@media (min-width: 1024px) {
  .section-coments .box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  padding: 0px 20px;
  text-align: center;
  }
}
